[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/sonoro1234/luafilesystem
[submodule "LuaJIT-GLFW"]
	path = LuaJIT-GLFW
	url = https://github.com/sonoro1234/LuaJIT-GLFW
[submodule "LuaJIT-SDL2"]
	path = LuaJIT-SDL2
	url = https://github.com/sonoro1234/LuaJIT-SDL2
[submodule "LuaJIT-ImGui"]
	path = luajit-imgui
	url = https://github.com/sonoro1234/LuaJIT-ImGui
[submodule "mirror-im"]
	path = mirror-im
	url = https://github.com/sonoro1234/mirror-im