[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/sonoro1234/luafilesystem
[submodule "LuaJIT-GLFW"]
	path = LuaJIT-GLFW
	url = https://github.com/sonoro1234/LuaJIT-GLFW
[submodule "LuaJIT-SDL2"]
	path = LuaJIT-SDL2
	url = https://github.com/sonoro1234/LuaJIT-SDL2
[submodule "LuaJIT-ImGui"]
	path = LuaJIT-ImGui
	url = https://github.com/sonoro1234/LuaJIT-ImGui
[submodule "LuaJIT-libsndfile"]
	path = luajit-libsndfile
	url = https://github.com/sonoro1234/LuaJIT-libsndfile
[submodule "mirror-im"]
	path = mirror-im
	url = https://github.com/sonoro1234/mirror-im
[submodule "luajit-async"]
	path = luajit-async
	url = https://github.com/sonoro1234/luajit-async/
[submodule "LuaJIT-rtaudio"]
	path = LuaJIT-rtaudio
	url = https://github.com/sonoro1234/LuaJIT-rtaudio.git
[submodule "LuaJIT"]
	path = LuaJIT/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
	branch = v2.1
[submodule "par"]
	path = LuaJIT-par/par
	url = https://github.com/sonoro1234/par
